{"version":3,"file":"../style.css","sources":["style.scss","partials/_mixins.scss","partials/_variables.scss","partials/_media-query.scss","_reset.scss","_default.scss"],"sourcesContent":["\n@import 'partials/mixins';\n@import 'partials/variables';\n@import 'partials/media-query';\n@import 'reset';\n@import 'default';\n","/*=== MIXINS ===*/\n@mixin box-sizing($box) {\n  -webkit-box-sizing: $box;\n  -moz-box-sizing: $box;\n  box-sizing: $box;\n}\n@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {\n  -webkit-box-shadow: $horizontal $vertical $blur $color;\n  -moz-box-shadow: $horizontal $vertical $blur $color;\n  box-shadow: $horizontal $vertical $blur $color;\n}\n@mixin opacity ( $value: 0.5 ) {\n  -ms-filter: \"progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)\";\n  filter: alpha(opacity=$value);\n  -moz-opacity: $value;\n  -khtml-opacity: $value;\n  opacity: $value;\n}\n@mixin transition($args...) {\n  -webkit-transition: $args;\n  -moz-transition: $args;\n  -ms-transition: $args;\n  -o-transition: $args;\n  transition: $args;\n}\n@mixin transform($transforms) {\n  -moz-transform: $transforms;\n  -o-transform: $transforms;\n  -ms-transform: $transforms;\n  -webkit-transform: $transforms;\n  transform: $transforms;\n}\n@mixin clearfix {\n  &:after {\n    content: \"\";\n    display: table;\n    clear: both;\n  }\n}\n@mixin placeholder {\n  &::-webkit-input-placeholder {@content};\n  &:-moz-placeholder           {@content};\n  &::-moz-placeholder          {@content};\n  &:-ms-input-placeholder      {@content}; \n}\n","/*=== VARIABLES ===*/\n// $primary-color:#0cc652;\n$primary-color: #F45C5D;\n$secondary-color:#eaeaea;\n$white-color: #ffffff;\n$black-color: #000000;\n$sand: #f5f5f6;\n$text-color: #8b8e93;\n$title-color: #222222;\n$title-color-dk: #1d2025;\n$border-color: #d6dbe2;\n$gray : #cccccc;\n$dark-navy : #071e33;\n\n/*============ COLOR CLASSES =============*/\n.text-primary {\n\tcolor: $primary-color!important;\n}\n.text-white {\n\tcolor: $white-color!important;\n}\n.bg-sand {\n\tbackground-color: $sand;\n}\n.bg-gray {\n\tbackground-color: $gray;\n}\n.bg-primary {\n\tbackground-color: $primary-color!important;\n}\n.no-bg {\n\tbackground-color: transparent;\n}\n.bordered {\n\tborder: 1px solid $border-color;\n}\n\n.brd-gray {\n\tborder-color: $gray!important;\n}\n.brd-primary {\n\tborder-color: $primary-color!important;\n}\n\n/* Background Colors */\n.bg-white {\n\tbackground-color: $white-color!important;\n}\n.bg-dark {\n\tbackground-color: $title-color-dk!important;\n}\n.bg-faded {\n\tbackground-color: $sand;\n}\n\n$success: #49c32c;\n$bg-success: #49c32c;\n$info: #439fdb;\n$bg-info: #439fdb;\n$warning: #eabf38;\n$bg-warning: #eabf38;\n$danger: #f55c5d;\n$bg-danger: #f55c5d;\n$inverse: #323f41;\n/*============ FUNCTIONS =============*/\n@function tint($primary-color, $percentage) {\n  @return mix($primary-color, transparent, $percentage);\n}\n@function shade($color, $percentage) {\n  @return mix(black, $color, $percentage);\n}\n","/*=== MEDIA QUERY ===*/\n@mixin mobile-xs{\n  @media(min-width:320px){\n    @content;\n  }\n}\n@mixin mobile{\n  @media(min-width:480px){\n    @content;\n  }\n}\n@mixin tablet{\n  @media(min-width:768px){\n    @content;\n  }\n}\n@mixin desktops{\n  @media(min-width:992px){\n    @content;\n  }\n}\n@mixin large-desktops{\n  @media(min-width:1200px){\n    @content;\n  }\n}","* {\n  outline: 0;\n  margin: 0;\n  padding: 0;\n}\nhtml, * {\n  text-rendering: optimizeLegibility;\n  -webkit-font-smoothing: antialiased;\n  -moz-osx-font-smoothing: grayscale;\n}\n\nbody {\n  font-family: 'Montserrat', sans-serif;\n  font-size: 14px;\n  line-height: 21px;\n  color: $text-color;\n  font-weight: 300;\n}\nul{\n  margin:0;\n  padding:0;\n\n  li {\n    list-style-type:none;\n  }\n}\n\np{\n  color: $text-color;\n  font-weight: 300;\n  margin-bottom: 0;\n  font-size: 14px;\n  line-height: 26px;\n}\nh1, h2, h3, h4, h5, h6{\n  font-family: 'Montserrat', sans-serif;\n  text-transform: capitalize;\n  margin: 0;\n  color: $title-color;\n  line-height: 1.1;\n}\nh1 {\n  font-size: 40px;\n}\nh2{\n  font-size: 30px;\n}\nh3{\n  font-size: 25px;\n}\nh4{\n  font-size: 20px; \n}\nh5{\n  font-size: 18px;\n}\nh6{\n  font-size: 16px;\n}","main {\n  border: solid 10px red;\n}\n\nbody {\n  \n}\n\n"],"names":[],"mappings":"ACAA,kBAAkB;ACAlB,qBAAqB;AAcrB,4CAA4C;;AAC5C,AAAA,aAAa,CAAC;EACb,KAAK,EAdU,OAAO,CAcD,UAAU;CAC/B;;;AACD,AAAA,WAAW,CAAC;EACX,KAAK,EAfQ,OAAO,CAeD,UAAU;CAC7B;;;AACD,AAAA,QAAQ,CAAC;EACR,gBAAgB,EAhBV,OAAO;CAiBb;;;AACD,AAAA,QAAQ,CAAC;EACR,gBAAgB,EAdT,OAAO;CAed;;;AACD,AAAA,WAAW,CAAC;EACX,gBAAgB,EA1BD,OAAO,CA0BU,UAAU;CAC1C;;;AACD,AAAA,MAAM,CAAC;EACN,gBAAgB,EAAE,WAAW;CAC7B;;;AACD,AAAA,SAAS,CAAC;EACT,MAAM,EAAE,GAAG,CAAC,KAAK,CAxBH,OAAO;CAyBrB;;;AAED,AAAA,SAAS,CAAC;EACT,YAAY,EA3BL,OAAO,CA2BK,UAAU;CAC7B;;;AACD,AAAA,YAAY,CAAC;EACZ,YAAY,EAvCG,OAAO,CAuCM,UAAU;CACtC;;AAED,uBAAuB;;AACvB,AAAA,SAAS,CAAC;EACT,gBAAgB,EA1CH,OAAO,CA0CU,UAAU;CACxC;;;AACD,AAAA,QAAQ,CAAC;EACR,gBAAgB,EAxCA,OAAO,CAwCU,UAAU;CAC3C;;;AACD,AAAA,SAAS,CAAC;EACT,gBAAgB,EA9CV,OAAO;CA+Cb;;AAWD,wCAAwC;AChExC,uBAAuB;;ACAvB,AAAA,CAAC,CAAC;EACA,OAAO,EAAE,CAAC;EACV,MAAM,EAAE,CAAC;EACT,OAAO,EAAE,CAAC;CACX;;;AACD,AAAA,IAAI,EAAE,CAAC,CAAC;EACN,cAAc,EAAE,kBAAkB;EAClC,sBAAsB,EAAE,WAAW;EACnC,uBAAuB,EAAE,SAAS;CACnC;;;AAED,AAAA,IAAI,CAAC;EACH,WAAW,EAAE,wBAAwB;EACrC,SAAS,EAAE,IAAI;EACf,WAAW,EAAE,IAAI;EACjB,KAAK,EFRM,OAAO;EESlB,WAAW,EAAE,GAAG;CACjB;;;AACD,AAAA,EAAE,CAAA;EACA,MAAM,EAAC,CAAC;EACR,OAAO,EAAC,CAAC;CAKV;;;AAPD,AAIE,EAJA,CAIA,EAAE,CAAC;EACD,eAAe,EAAC,IAAI;CACrB;;;AAGH,AAAA,CAAC,CAAA;EACC,KAAK,EFrBM,OAAO;EEsBlB,WAAW,EAAE,GAAG;EAChB,aAAa,EAAE,CAAC;EAChB,SAAS,EAAE,IAAI;EACf,WAAW,EAAE,IAAI;CAClB;;;AACD,AAAA,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,EAAE,CAAA;EACpB,WAAW,EAAE,wBAAwB;EACrC,cAAc,EAAE,UAAU;EAC1B,MAAM,EAAE,CAAC;EACT,KAAK,EF9BO,OAAO;EE+BnB,WAAW,EAAE,GAAG;CACjB;;;AACD,AAAA,EAAE,CAAC;EACD,SAAS,EAAE,IAAI;CAChB;;;AACD,AAAA,EAAE,CAAA;EACA,SAAS,EAAE,IAAI;CAChB;;;AACD,AAAA,EAAE,CAAA;EACA,SAAS,EAAE,IAAI;CAChB;;;AACD,AAAA,EAAE,CAAA;EACA,SAAS,EAAE,IAAI;CAChB;;;AACD,AAAA,EAAE,CAAA;EACA,SAAS,EAAE,IAAI;CAChB;;;AACD,AAAA,EAAE,CAAA;EACA,SAAS,EAAE,IAAI;CAChB;;;AC1DD,AAAA,IAAI,CAAC;EACH,MAAM,EAAE,cAAc;CACvB"}
/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*============ COLOR CLASSES =============*/
/* line 16, src/sass/partials/_variables.scss */
.text-primary {
  color: #F45C5D !important;
}

/* line 19, src/sass/partials/_variables.scss */
.text-white {
  color: #ffffff !important;
}

/* line 22, src/sass/partials/_variables.scss */
.bg-sand {
  background-color: #f5f5f6;
}

/* line 25, src/sass/partials/_variables.scss */
.bg-gray {
  background-color: #cccccc;
}

/* line 28, src/sass/partials/_variables.scss */
.bg-primary {
  background-color: #F45C5D !important;
}

/* line 31, src/sass/partials/_variables.scss */
.no-bg {
  background-color: transparent;
}

/* line 34, src/sass/partials/_variables.scss */
.bordered {
  border: 1px solid #d6dbe2;
}

/* line 38, src/sass/partials/_variables.scss */
.brd-gray {
  border-color: #cccccc !important;
}

/* line 41, src/sass/partials/_variables.scss */
.brd-primary {
  border-color: #F45C5D !important;
}

/* Background Colors */
/* line 46, src/sass/partials/_variables.scss */
.bg-white {
  background-color: #ffffff !important;
}

/* line 49, src/sass/partials/_variables.scss */
.bg-dark {
  background-color: #1d2025 !important;
}

/* line 52, src/sass/partials/_variables.scss */
.bg-faded {
  background-color: #f5f5f6;
}

/*============ FUNCTIONS =============*/
/*=== MEDIA QUERY ===*/
/* line 1, src/sass/_reset.scss */
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

/* line 6, src/sass/_reset.scss */
html, * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, src/sass/_reset.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #8b8e93;
  font-weight: 300;
}

/* line 19, src/sass/_reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 23, src/sass/_reset.scss */
ul li {
  list-style-type: none;
}

/* line 28, src/sass/_reset.scss */
p {
  color: #8b8e93;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
}

/* line 35, src/sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin: 0;
  color: #222222;
  line-height: 1.1;
}

/* line 42, src/sass/_reset.scss */
h1 {
  font-size: 40px;
}

/* line 45, src/sass/_reset.scss */
h2 {
  font-size: 30px;
}

/* line 48, src/sass/_reset.scss */
h3 {
  font-size: 25px;
}

/* line 51, src/sass/_reset.scss */
h4 {
  font-size: 20px;
}

/* line 54, src/sass/_reset.scss */
h5 {
  font-size: 18px;
}

/* line 57, src/sass/_reset.scss */
h6 {
  font-size: 16px;
}

/* line 1, src/sass/_default.scss */
main {
  border: solid 10px red;
}

/*# sourceMappingURL=maps/style.css.map */
