/*=== MIXINS ===*/
/*=== VARIABLES ===*/
/*============ COLOR CLASSES =============*/
/* line 16, src/sass/partials/_variables.scss */
.text-primary {
  color: #F45C5D !important;
}

/* line 19, src/sass/partials/_variables.scss */
.text-white {
  color: #ffffff !important;
}

/* line 22, src/sass/partials/_variables.scss */
.bg-sand {
  background-color: #f5f5f6;
}

/* line 25, src/sass/partials/_variables.scss */
.bg-gray {
  background-color: #cccccc;
}

/* line 28, src/sass/partials/_variables.scss */
.bg-primary {
  background-color: #F45C5D !important;
}

/* line 31, src/sass/partials/_variables.scss */
.no-bg {
  background-color: transparent;
}

/* line 34, src/sass/partials/_variables.scss */
.bordered {
  border: 1px solid #d6dbe2;
}

/* line 38, src/sass/partials/_variables.scss */
.brd-gray {
  border-color: #cccccc !important;
}

/* line 41, src/sass/partials/_variables.scss */
.brd-primary {
  border-color: #F45C5D !important;
}

/* Background Colors */
/* line 46, src/sass/partials/_variables.scss */
.bg-white {
  background-color: #ffffff !important;
}

/* line 49, src/sass/partials/_variables.scss */
.bg-dark {
  background-color: #1d2025 !important;
}

/* line 52, src/sass/partials/_variables.scss */
.bg-faded {
  background-color: #f5f5f6;
}

/*============ FUNCTIONS =============*/
/*=== MEDIA QUERY ===*/
/* line 1, src/sass/_reset.scss */
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

/* line 6, src/sass/_reset.scss */
html, * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, src/sass/_reset.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #8b8e93;
  font-weight: 300;
}

/* line 19, src/sass/_reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 23, src/sass/_reset.scss */
ul li {
  list-style-type: none;
}

/* line 28, src/sass/_reset.scss */
p {
  color: #8b8e93;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
}

/* line 35, src/sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin: 0;
  color: #222222;
  line-height: 1.1;
}

/* line 42, src/sass/_reset.scss */
h1 {
  font-size: 40px;
}

/* line 45, src/sass/_reset.scss */
h2 {
  font-size: 30px;
}

/* line 48, src/sass/_reset.scss */
h3 {
  font-size: 25px;
}

/* line 51, src/sass/_reset.scss */
h4 {
  font-size: 20px;
}

/* line 54, src/sass/_reset.scss */
h5 {
  font-size: 18px;
}

/* line 57, src/sass/_reset.scss */
h6 {
  font-size: 16px;
}

/**
* Arquivo responsavel pelo estilo do Bloco do Mapa
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/
/* Bloco do Mapa
____________________________________________________________________________________ */
/* line 12, src/sass/components/_mapa.scss */
.block__map {
  position: relative;
  overflow: hidden;
}

/* line 16, src/sass/components/_mapa.scss */
.block__map .btn-filter {
  border: none;
  border-radius: 5px;
  background: #ffffff;
  color: #8b8e93;
  font-size: 18px;
  position: absolute;
  padding: 5px;
  top: 5px;
  cursor: pointer;
  right: 15%;
  z-index: 9999999;
}

/* line 29, src/sass/components/_mapa.scss */
.block__map .btn-filter .fa-close {
  display: none;
}

@media (min-width: 768px) {
  /* line 16, src/sass/components/_mapa.scss */
  .block__map .btn-filter {
    display: none;
  }
}

/* line 38, src/sass/components/_mapa.scss */
.block__map .center {
  position: relative;
}

/* line 42, src/sass/components/_mapa.scss */
.block__map .block__post--category {
  right: 0;
  text-align: right;
  position: absolute;
  top: -20px;
  z-index: 2;
}

/* line 50, src/sass/components/_mapa.scss */
.block__map--google {
  min-height: 100vh;
  width: 100%;
}

/* line 55, src/sass/components/_mapa.scss */
.block__map--overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}

@media (min-width: 768px) {
  /* line 55, src/sass/components/_mapa.scss */
  .block__map--overlay {
    display: none;
  }
}

/* line 71, src/sass/components/_mapa.scss */
.block__map--filter {
  background-color: #fff;
  position: absolute;
  padding: 10px;
  top: 0;
  right: -100%;
  z-index: 90;
  min-width: 230px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  height: 100%;
}

@media (min-width: 768px) {
  /* line 71, src/sass/components/_mapa.scss */
  .block__map--filter {
    height: auto;
    top: 50px;
    right: 5%;
    overflow: visible;
  }
}

@media (min-width: 992px) {
  /* line 71, src/sass/components/_mapa.scss */
  .block__map--filter {
    right: 8%;
  }
}

/* line 98, src/sass/components/_mapa.scss */
.block__map--filter-show {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  right: 0;
}

/* line 104, src/sass/components/_mapa.scss */
.block__map .btn-default {
  background-color: transparent;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 104, src/sass/components/_mapa.scss */
  .block__map .btn-default {
    display: none;
  }
}

/* line 113, src/sass/components/_mapa.scss */
.block__map--item {
  display: flex;
  align-items: center;
}

/* line 117, src/sass/components/_mapa.scss */
.block__map--item i {
  background: no-repeat left top;
  background-size: 100%;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

/* line 127, src/sass/components/_mapa.scss */
.block__map--item input {
  margin-right: 10px;
  position: relative;
  top: -4px;
}

/* line 133, src/sass/components/_mapa.scss */
.block__map--item label {
  display: flex;
  align-items: center;
}

/* line 140, src/sass/components/_mapa.scss */
.block__map--t1 i {
  background-image: url("../images/mapa/pin/violeta.png");
  background-color: #8f2c79;
}

/* line 145, src/sass/components/_mapa.scss */
.block__map--t1 label {
  color: #8f2c79;
}

/* line 151, src/sass/components/_mapa.scss */
.block__map--t2 i {
  background-image: url("../images/mapa/pin/verde.png");
  background-color: #149253;
}

/* line 156, src/sass/components/_mapa.scss */
.block__map--t2 label {
  color: #149253;
}

/* line 162, src/sass/components/_mapa.scss */
.block__map--t3 i {
  background-image: url("../images/mapa/pin/amarelo.png");
  background-color: #fdb913;
}

/* line 167, src/sass/components/_mapa.scss */
.block__map--t3 label {
  color: #fdb913;
}

/* line 173, src/sass/components/_mapa.scss */
.block__map--t4 i {
  background-image: url("../images/mapa/pin/vermelho.png");
  background-color: #ec1c24;
}

/* line 178, src/sass/components/_mapa.scss */
.block__map--t4 label {
  color: #ec1c24;
}

/* line 184, src/sass/components/_mapa.scss */
.block__map--t5 i {
  background-image: url("../images/mapa/pin/laranja.png");
  background-color: #f58220;
}

/* line 189, src/sass/components/_mapa.scss */
.block__map--t5 label {
  color: #f58220;
}

/* line 195, src/sass/components/_mapa.scss */
.block__map--t6 i {
  background-image: url("../images/mapa/pin/azul.png");
  background-color: #0055a5;
}

/* line 200, src/sass/components/_mapa.scss */
.block__map--t6 label {
  color: #0055a5;
}

/* line 206, src/sass/components/_mapa.scss */
.block__map--t7 i {
  background-image: url("../images/mapa/pin/preto.png");
  background-color: #0088a3;
}

/* line 211, src/sass/components/_mapa.scss */
.block__map--t7 label {
  color: #0088a3;
}

/* line 218, src/sass/components/_mapa.scss */
.infoBox img {
  position: absolute !important;
  z-index: 2;
  top: -32px;
  right: -15px;
  border-radius: 50%;
  border: solid 1px gray;
}

/* line 228, src/sass/components/_mapa.scss */
.block__infobox {
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 250px;
}

/* line 236, src/sass/components/_mapa.scss */
.block__infobox.tema-t1 {
  background-color: #c145a5;
}

/* line 239, src/sass/components/_mapa.scss */
.block__infobox.tema-t1 i {
  background-image: url("../images/mapa/pin/violeta.png");
}

/* line 243, src/sass/components/_mapa.scss */
.block__infobox.tema-t1 h2, .block__infobox.tema-t1 h3, .block__infobox.tema-t1 p {
  color: #fff;
}

/* line 247, src/sass/components/_mapa.scss */
.block__infobox.tema-t1 label, .block__infobox.tema-t1 .block__infobox--body-overlay {
  border-left-color: #8f2c79;
  color: #8f2c79;
}

/* line 253, src/sass/components/_mapa.scss */
.block__infobox.tema-t2 {
  background-color: #25c676;
}

/* line 256, src/sass/components/_mapa.scss */
.block__infobox.tema-t2 i {
  background-image: url("../images/mapa/pin/verde.png");
}

/* line 260, src/sass/components/_mapa.scss */
.block__infobox.tema-t2 h2, .block__infobox.tema-t2 h3, .block__infobox.tema-t2 p {
  color: #fff;
}

/* line 264, src/sass/components/_mapa.scss */
.block__infobox.tema-t2 label, .block__infobox.tema-t2 .block__infobox--body-overlay {
  border-left-color: #149253;
  color: #149253;
}

/* line 270, src/sass/components/_mapa.scss */
.block__infobox.tema-t3 {
  background-color: #f8ce66;
}

/* line 273, src/sass/components/_mapa.scss */
.block__infobox.tema-t3 i {
  background-image: url("../images/mapa/pin/amarelo.png");
}

/* line 277, src/sass/components/_mapa.scss */
.block__infobox.tema-t3 h2, .block__infobox.tema-t3 h3, .block__infobox.tema-t3 p {
  color: #fff;
}

/* line 281, src/sass/components/_mapa.scss */
.block__infobox.tema-t3 label, .block__infobox.tema-t3 .block__infobox--body-overlay {
  border-left-color: #fdb913;
  color: #fdb913;
}

/* line 287, src/sass/components/_mapa.scss */
.block__infobox.tema-t4 {
  background-color: #f33e45;
}

/* line 290, src/sass/components/_mapa.scss */
.block__infobox.tema-t4 i {
  background-image: url("../images/mapa/pin/vermelho.png");
}

/* line 294, src/sass/components/_mapa.scss */
.block__infobox.tema-t4 h2, .block__infobox.tema-t4 h3, .block__infobox.tema-t4 p {
  color: #fff;
}

/* line 298, src/sass/components/_mapa.scss */
.block__infobox.tema-t4 label, .block__infobox.tema-t4 .block__infobox--body-overlay {
  border-left-color: #ec1c24;
  color: #ec1c24;
}

/* line 304, src/sass/components/_mapa.scss */
.block__infobox.tema-t5 {
  background-color: #fd9b47;
}

/* line 307, src/sass/components/_mapa.scss */
.block__infobox.tema-t5 i {
  background-image: url("../images/mapa/pin/laranja.png");
}

/* line 311, src/sass/components/_mapa.scss */
.block__infobox.tema-t5 h2, .block__infobox.tema-t5 h3, .block__infobox.tema-t5 p {
  color: #fff;
}

/* line 315, src/sass/components/_mapa.scss */
.block__infobox.tema-t5 label, .block__infobox.tema-t5 .block__infobox--body-overlay {
  border-left-color: #f58220;
  color: #f58220;
}

/* line 321, src/sass/components/_mapa.scss */
.block__infobox.tema-t6 {
  background-color: #0363bd;
}

/* line 324, src/sass/components/_mapa.scss */
.block__infobox.tema-t6 h2, .block__infobox.tema-t6 h3, .block__infobox.tema-t6 p {
  color: #fff;
}

/* line 328, src/sass/components/_mapa.scss */
.block__infobox.tema-t6 i {
  background-image: url("../images/mapa/pin/azul.png");
}

/* line 332, src/sass/components/_mapa.scss */
.block__infobox.tema-t6 label, .block__infobox.tema-t6 .block__infobox--body-overlay {
  border-left-color: #0055a5;
  color: #0055a5;
}

/* line 338, src/sass/components/_mapa.scss */
.block__infobox.tema-t7 {
  background-color: #06a7c7;
}

/* line 341, src/sass/components/_mapa.scss */
.block__infobox.tema-t7 h2, .block__infobox.tema-t7 h3, .block__infobox.tema-t7 p {
  color: #fff;
}

/* line 345, src/sass/components/_mapa.scss */
.block__infobox.tema-t7 label, .block__infobox.tema-t7 .block__infobox--body-overlay {
  border-left-color: #0088a3;
  color: #0088a3;
}

/* line 350, src/sass/components/_mapa.scss */
.block__infobox.tema-t7 i {
  background-image: url("../images/mapa/pin/preto.png");
}

/* line 356, src/sass/components/_mapa.scss */
.block__infobox--body {
  padding: 20px 30px;
}

/* line 359, src/sass/components/_mapa.scss */
.block__infobox--body-overlay {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-left: 40px solid #fff;
  left: 0;
  top: 0;
}

/* line 371, src/sass/components/_mapa.scss */
.block__infobox h3 {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* line 378, src/sass/components/_mapa.scss */
.block__infobox i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/* line 385, src/sass/components/_mapa.scss */
.block__infobox p {
  font-size: 15px;
  line-height: 1;
  margin-bottom: 10px;
}

/* line 391, src/sass/components/_mapa.scss */
.block__infobox strong {
  font-size: 16px;
}

/* line 395, src/sass/components/_mapa.scss */
.block__infobox--arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  left: 50%;
  margin-left: -20px;
  bottom: -15px;
}

/* line 409, src/sass/components/_mapa.scss */
.gm-style-iw + div {
  display: none;
}

/* line 411, src/sass/components/_mapa.scss */
.gm-style-iw {
  border: solid 10px red !important;
}

/*# sourceMappingURL=maps/style.css.map */
