/**
* Arquivo responsavel pelo estilo do Bloco do Mapa
*
* @version:  1.0
*
* Copyright(c) Todos os direitos reservados 
*/

/* Bloco do Mapa
____________________________________________________________________________________ */

.block__map {
  position: relative;

  .center {
    position: relative;
  }

  .block__post--category {
    right: 0;
    text-align: right;
    position: absolute;
    top: -20px;
    z-index: 2;
  }

  &--google {
    min-height: 100vh;
    width: 100%;
  }

  &--filter {
    background-color: #fff;
    position: absolute;
    padding: 10px;
    top: 50px;
    right: 10%;
    z-index: 90;
    border-radius: 5px;
  }

  &--item {
    display: flex;
    align-items: center;

    i {
      background: no-repeat left top;
      background-size: 100%;
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
    }

    input {
      margin-right: 10px;
      position: relative;
      top: -4px;
    }

    label {
      display: flex;
      align-items: center;
    }
  }

  &--t1 {
    i {
      background-image: url('../images/mapa/pin/violeta.png');
      background-color: #8f2c79;
    }

    label {
      color: #8f2c79;
    }
  }

  &--t2 {
    i {
      background-image: url('../images/mapa/pin/verde.png');
      background-color: #149253;
    }

    label {
      color: #149253;
    }
  }
  
  &--t3 {
    i {
      background-image: url('../images/mapa/pin/amarelo.png');
      background-color: #fdb913;
    }

    label {
      color: #fdb913;
    }
  }
  
  &--t4 {
    i {
      background-image: url('../images/mapa/pin/vermelho.png');
      background-color: #ec1c24;
    }

    label {
      color: #ec1c24;
    }
  }

  &--t5 {
    i {
      background-image: url('../images/mapa/pin/laranja.png');
      background-color: #f58220;
    }

    label {
      color: #f58220;
    }
  }

  &--t6 {
    i {
      background-image: url('../images/mapa/pin/azul.png');
      background-color: #0055a5;
    }

    label {
      color: #0055a5;
    }
  }

  &--t7 {
    i {
      background-image: url('../images/mapa/pin/preto.png');
      background-color: #0088a3;
    }

    label {
      color: #0088a3;
    }
  }
}

.infoBox {
  img {
    position: absolute !important;
    z-index: 2;
    top: -32px;
    right: -15px;
    border-radius: 50%;
    border: solid 1px gray;
  }
}

.block__infobox {
  background-color: #fff;
  // border-radius: 10px; 
  position: relative;
  z-index: 1;
  width: 250px;

  &.tema {
    &-t1 {
      background-color: #c145a5;

      i {
        background-image: url('../images/mapa/pin/violeta.png');
      }

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #8f2c79;
        color: #8f2c79;
      }
    }
  
    &-t2 {
      background-color: #25c676;

      i {
        background-image: url('../images/mapa/pin/verde.png');
      }

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #149253;
        color: #149253;
      }
    }
    
    &-t3 {
      background-color: #f8ce66;

      i {
        background-image: url('../images/mapa/pin/amarelo.png');
      }

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #fdb913;
        color: #fdb913;
      }
    }
    
    &-t4 {
      background-color: #f33e45;

      i {
        background-image: url('../images/mapa/pin/vermelho.png');
      }

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #ec1c24;
        color: #ec1c24;
      }
    }
  
    &-t5 {
      background-color: #fd9b47;

      i {
        background-image: url('../images/mapa/pin/laranja.png');
      }

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #f58220;
        color: #f58220;
      }
    }
  
    &-t6 {
      background-color: #0363bd;

      h2, h3, p {
        color: #fff;
      }

      i {
        background-image: url('../images/mapa/pin/azul.png');
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #0055a5;
        color: #0055a5;
      }
    }
  
    &-t7 {
      background-color: #06a7c7;

      h2, h3, p {
        color: #fff;
      }
  
      label, .block__infobox--body-overlay {
        border-left-color: #0088a3;
        color: #0088a3;
      }

      i {
        background-image: url('../images/mapa/pin/preto.png');
      }
    }
  }

  &--body {
    padding: 20px 30px;

    &-overlay {
      position: absolute;
      width: 0; 
      height: 0;
      border-bottom: 40px solid transparent;
      border-left: 40px solid transparent;
      border-left: 40px solid #fff;
      left: 0;
      top: 0;
    }
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  p {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
  }

  strong {
    font-size: 16px;
  }

  &--arrow {
    display: none;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    left: 50%;
    margin-left: -20px;
    bottom: -15px;
  }
}